<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Matt's accordion
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>The accordion app has been built using the mat-panel-panel-header which shows a summary of the panel content. It acts as the control for expanding and collapsing. The header may optionally contain a mat-panel-title and a mat-panel-description.
        These format the content of the header to align with Material Design Specifications.</p>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Built for testing
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>I used this for a test that I've been asked to do by Luke using the BEM methodology within the SCSS styling page. Styling the header and a hover option inside the content</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        For Luke
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>I built this for Luke from Unshackled Commerce Technology. A company that connects your customers to the best service solutions with technology designed to help bring your innovations and ideas to life.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        To showcase my skills
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>I did this using Angular JS. AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. AngularJS's data binding and dependency injection eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner with any server technology.</p>
  </mat-expansion-panel>
</mat-accordion>

