

<head>Test</head>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Facebook
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit error, ut tempora nulla nemo blanditiis similique perspiciatis, delectus velit magni cupiditate minima eveniet nihil sapiente? Porro at autem necessitatibus, deleniti molestiae, nobis ducimus, libero aut iure cumque quod neque voluptate!</p>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Facebook
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit error, ut tempora nulla nemo blanditiis similique perspiciatis, delectus velit magni cupiditate minima eveniet nihil sapiente? Porro at autem necessitatibus, deleniti molestiae, nobis ducimus, libero aut iure cumque quod neque voluptate!</p>
  </mat-expansion-panel>
</mat-accordion>

